styles.css 
h1 {
    text-align: center;
    font-family: "LT Binary Neue", monospace;
    font-weight: normal;
}

p {
    text-align: center;
    font-family: "LT Binary Neue", monospace;
    font-weight: normal;
} 
p <a href="https://xoriushourz.github.io/CookieClicker/" target"_blank">Cookie Clicker</a>
